* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  padding-top: 35px;
}

.img-col {
  height: 700px;
}

.full-width-height {
  width: 749px;
  height: 100%;
  object-fit: cover;
}

.image-container {
  width: 100%;
}

#preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../imgs/profiles/default.jpg");
  background-size: contain;
  cursor: pointer;
}

input#profile-image {
  display: none;
  cursor: pointer;
}

#preview-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#preview-container:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
