* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo-container {
  padding-top: 35px;
}

.img-col {
    height: 600px;
}

.full-width-height {
  width: 749px;
  height: 100%;
  object-fit: cover;
}


.image-container {
    width: 100%;
}
